<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RNOKPP</title>

    <link rel="stylesheet" href="/node_modules/siimple/dist/siimple.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>
<div class="siimple-grid">
    <div class="siimple-grid-row">
        <div class="siimple-grid-col siimple-grid-col--12">12</div>
    </div>
</div>
</body>
</html>
