<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RNOKPP</title>

    <link rel="stylesheet" href="/node_modules/siimple/dist/siimple.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/moment/moment.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>
<div class="siimple-navbar siimple-navbar--yellow siimple-navbar--fluid">
    <div class="siimple-layout--left">
        <a href="/" class="siimple-navbar-title">RNOKPP</a>
    </div>
    <div class="siimple-layout--right">
        <a href="https://github.com/bmwant/rnokpp" class="siimple-navbar-link" target="_blank">Github</a>
        <a href="http://bmwlog.pp.ua/" class="siimple-navbar-link" target="_blank">Blog</a>
    </div>
</div>
<div class="siimple-grid">
    <div class="siimple-grid-row">
        <div class="siimple-grid-col siimple-grid-col--12">
            <div id="data-form" class="siimple-form text-center">
                <label class="siimple-label">Введіть ІПН:</label>
                <input id="target-value" type="text" class="siimple-input" placeholder="0123456789" maxlength="10">
            </div>
        </div>
    </div>

    <div class="siimple-grid-row">
        <div class="siimple-grid-col siimple-grid-col--1">&nbsp;</div>
        <div class="siimple-grid-col siimple-grid-col--1"><div id="digit-0" class="digit siimple-alert siimple-alert--purple">&nbsp;</div></div>
        <div class="siimple-grid-col siimple-grid-col--1"><div id="digit-1" class="digit siimple-alert siimple-alert--purple">&nbsp;</div></div>
        <div class="siimple-grid-col siimple-grid-col--1"><div id="digit-2" class="digit siimple-alert siimple-alert--purple">&nbsp;</div></div>
        <div class="siimple-grid-col siimple-grid-col--1"><div id="digit-3" class="digit siimple-alert siimple-alert--purple">&nbsp;</div></div>
        <div class="siimple-grid-col siimple-grid-col--1"><div id="digit-4" class="digit siimple-alert siimple-alert--purple">&nbsp;</div></div>
        <div class="siimple-grid-col siimple-grid-col--1"><div id="digit-5" class="digit siimple-alert siimple-alert--blue">&nbsp;</div></div>
        <div class="siimple-grid-col siimple-grid-col--1"><div id="digit-6" class="digit siimple-alert siimple-alert--blue">&nbsp;</div></div>
        <div class="siimple-grid-col siimple-grid-col--1"><div id="digit-7" class="digit siimple-alert siimple-alert--blue">&nbsp;</div></div>
        <div class="siimple-grid-col siimple-grid-col--1"><div id="digit-8" class="digit siimple-alert siimple-alert--blue">&nbsp;</div></div>
        <div class="siimple-grid-col siimple-grid-col--1"><div id="digit-9" class="digit siimple-alert siimple-alert--green">&nbsp;</div></div>
    </div>

    <div class="siimple-grid-row">
        <div class="siimple-grid-col siimple-grid-col--1">&nbsp;</div>
        <div class="siimple-grid-col siimple-grid-col--5"><div id="first-section" class="siimple-alert">&nbsp;</div></div>
        <div class="siimple-grid-col siimple-grid-col--4"><div id="second-section" class="siimple-alert">&nbsp;</div></div>
    </div>
    <div class="siimple-grid-row">
        <div class="siimple-grid-col siimple-grid-col--9">&nbsp;</div>
        <div class="siimple-grid-col siimple-grid-col--1"><div id="third-section" class="siimple-alert">&nbsp;</div></div>
        <div class="siimple-grid-col siimple-grid-col--1"><div id="fourth-section" class="siimple-alert">&nbsp;</div></div>
    </div>

    <div class="siimple-grid-row">
        <div class="siimple-grid-col siimple-grid-col--6">
            <div id="error-message" class="siimple-tip siimple-tip--red siimple-tip--exclamation">
                <strong>Невірний код! Введена контрольна цифра не співпадає!</strong>
            </div>
            <div id="info-message">
                <div class="siimple-tip siimple-tip--teal">
                    Дата народження власника цього коду: <strong id="birthday"></strong>
                </div>
                <div class="siimple-tip siimple-tip--teal">
                    Стать власника коду: <strong id="sex"></strong>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="siimple-footer siimple-footer&#45;&#45;teal siimple-footer&#45;&#45;fluid" align="center">-->
    <!--just checking footer-->
<!--</div>-->
</body>
</html>
